

.main-page {
  height: 100vh;
  position: relative;
}

.hero {
  position: relative;
  width: 100%;
  height: calc(100vh - 80px); 
  overflow: hidden;
}

.hero img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4); 
  color: white;
}

.logo {
  width: 50px;
  height: 50px;
}

.btn-dark, .btn-outline-dark {
  border-radius: 25px;
}

h2 {
  font-size: 2.5rem;
  font-weight: bold;
}

p {
  font-size: 1.2rem;
}
